In [3]:
actress = ['Azusa', 'Anri', 'Aika']

In [4]:
print(actress)

['Azusa', 'Anri', 'Aika']

In [5]:
enumerate(actress)

# 홀짝 판별

In [6]:
num = 10

if num % 2 == 1:
    print('홀수')
else:
    print('짝수')

짝수

In [15]:
num1 = int(input('숫자를 입력하셈 : '))

if num1 % 2 == 1:
    print('홀수')
else:
    print('짝수')

숫자를 입력하셈 : -3
홀수

# 1부터 10까지 출력

In [16]:
n = 10
for i in range(n):
    print(i+1)

1
2
3
4
5
6
7
8
9
10

In [17]:
n = 10
num_list = []
for i in range(n):
    num_list.append(i+1)
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
cnt = 1
while cnt<11:
    print(cnt)
    cnt += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
cnt = 1
while cnt<11:
    print(cnt, ' ')
    cnt += 1