In [3]:
actress = ['Azusa', 'Anri', 'Aika']

In [4]:
print(actress)

['Azusa', 'Anri', 'Aika']

In [5]:
enumerate(actress)

# 홀짝 판별

In [6]:
num = 10

if num % 2 == 1:
    print('홀수')
else:
    print('짝수')

짝수

In [15]:
num1 = int(input('숫자를 입력하셈 : '))

if num1 % 2 == 1:
    print('홀수')
else:
    print('짝수')

숫자를 입력하셈 : -3
홀수

# 1부터 10까지 출력

In [16]:
n = 10
for i in range(n):
    print(i+1)

1
2
3
4
5
6
7
8
9
10

In [17]:
n = 10
num_list = []
for i in range(n):
    num_list.append(i+1)
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
cnt = 1
while cnt<11:
    print(cnt)
    cnt += 1

1
2
3
4
5
6
7
8
9
10

In [22]:
cnt = 1
while cnt<11:
    print(cnt, end = ' ')
    cnt += 1

1 2 3 4 5 6 7 8 9 10

In [1]:
number = int(input('자연수 n을 입력하시오. : '))
total_num = 0
for i in range(number):
    total_num += i+1
    
print(total_num)

자연수 n을 입력하시오. : 10
55

In [ ]:
number = int(input('자연수를 입력하시오 : '))

In [42]:
def get_middle_char(chars):
    if len(chars) % 2:
        return chars[(len(chars) // 2):-(len(chars) // 2):]
    else:
        return chars[((len(chars) // 2)-1):(-(len(chars) // 2)+1):]

print(get_middle_char('135451'))

54

In [39]:
chars='1551'
len(chars) // 2
# chars[((len(chars) // 2)-1):(-(len(chars) // 2)+1):]

2

In [44]:
numbers = input('숫자들을 입력하셈 : ')
print(numbers.split('\n'))

숫자들을 입력하셈 : 3 3 17 1 39 8 41 2 32 99 2 22 8 5 123 7 2 63 7 3 46 6 63 2 3 58 76 21 33 8 1
['3 3 17 1 39 8 41 2 32 99 2 22 8 5 123 7 2 63 7 3 46 6 63 2 3 58 76 21 33 8 1   ']

In [47]:
def odd_sum(numbers):
    rows = 0

숫자들을 입력하셈 : 3 17 1 39 8 41 2 32 99 2
['3', ' ', '1', '7', ' ', '1', ' ', '3', '9', ' ', '8', ' ', '4', '1', ' ', '2', ' ', '3', '2', ' ', '9', '9', ' ', '2']

In [49]:
def ssafy(name, location='서울'):
    print(f'{name}의 지역은 {location}입니다.')
    
ssafy('허준')
ssafy(location='대전', name='철수')
ssafy('영희', location='광주')
# ssafy(name='길동', '구미')

허준의 지역은 서울입니다.
철수의 지역은 대전입니다.
영희의 지역은 광주입니다.

In [51]:
def my_func(a, b):
    c = a + b
    print(c)

result = my_func(3, 7)

10

In [53]:
def snail(height, day, night):
    date = 0
    snail_height = 0
    while snail_height < height:
        date += 1
        snail_height += day
        snail_height -= night
    return date

In [60]:
def my_avg(*numbers):
    total = 0
    for i in range(len(numbers)):
        total += numbers[i]
    return total / len(numbers)

my_avg(77, 83, 95, 80, 70)

81.0